[is='flynt-block-text-image-crop'] {
  overflow: hidden;

  @media (max-width: $breakpoint-tablet - 1) {
    &.componentSpacing {
      margin: 30px 0;
      padding: 0;
    }
  }

  .box {
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      margin-top: 0;
    }

    &-inner {
      &--image {
        position: relative;

        @media (min-width: $breakpoint-tablet) {
          width: 45%;
        }
      }

      &--image2 {
        position: relative;

        @media (min-width: $breakpoint-tablet) {
          width: 45%;
        }
      }

      &--content {
        padding: $gutter-width $container-padding-mobile;

        @media (min-width: $breakpoint-tablet) {
          padding: $container-padding-tablet;
          width: 55%;
        }

        @media (min-width: $breakpoint-tablet-horizontal) {
          padding: $container-padding-tablet ($container-padding-tablet * 2);
        }

        @media (min-width: $breakpoint-desktop) {
          padding: $container-padding-desktop ($container-padding-desktop * 2);
        }
      }

      &--content2 {
        padding: 0 20px;

        @media (min-width: $breakpoint-tablet) {
          padding: 0 20px;
          width: 55%;
        }

        @media (min-width: $breakpoint-tablet-horizontal) {
          padding: 0 20px;
        }

        @media (min-width: $breakpoint-desktop) {
          padding: 0 20px;
        }
      }
    }

    &-contentWrapper {
      @include reset-content-margins;
      max-width: $content-max-width;

      ul {
        list-style: none;
      }
      
      li::before {
        content: '\f058';
        font-family: 'Font Awesome 5 Free';
        padding: 0 10px 0 0;
      }
    }

    &--imageRight {
      @media (min-width: $breakpoint-tablet) {
        flex-direction: row-reverse;

        .figure-caption {
          text-align: right;
        }

        .box-contentWrapper {
          margin-left: auto;
        }
      }
    }
  }

  .figure {
    margin: 0;

    @media (min-width: $breakpoint-tablet) {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &-image {
      font-family: 'object-fit: cover';
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
    }

    &-caption {
      padding: 0 $container-padding-mobile;
    }
  }

  .figure2 {
    margin: 0;
    position: relative;
    // right: -100px;

    // @media (min-width: $breakpoint-tablet) {
    //   bottom: 0;
    //   left: 0;
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    // }

    &-image {
      font-family: 'object-fit: cover';
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
    }

    &-caption {
      padding: 0 $container-padding-mobile;
    }
  }
}
