[is='flynt-navigation-footer-columns'] {
  @import 'Partials/menu';
  padding-bottom: $component-spacing-mobile;
  padding-top: $component-spacing-mobile;

  @media (min-width: $breakpoint-tablet) {
    padding-bottom: $component-spacing-tablet;
    padding-top: $component-spacing-tablet;
  }

  + [is='flynt-navigation-footer'] .container {
    padding-top: 0;
  }

  .columns {
    align-items: center;
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-tablet) {
      align-items: stretch;
      flex-direction: row;
    }

    &-menu {
      align-self: flex-start;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      @media (min-width: $breakpoint-tablet) {
        justify-content: flex-start;
        width: 66.66%;
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        width: 75%;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      margin-top: 2.5rem;
      text-align: center;

      @media (min-width: $breakpoint-tablet) {
        margin-top: 0;
        text-align: right;
        width: 33.33%;
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        width: 25%;
      }
    }
  }

  .logo {
    &-image {
      display: block;
      margin: 0 auto;
      max-width: 132px;
      width: auto;

      @media (min-width: $breakpoint-tablet) {
        margin: 0 0 0 auto;
      }
    }
  }

  .social {
    @include reset-content-margins;
    margin-top: auto;
    padding-top: 1.1rem;
  }

  .socialList {
    @include reset-list;
    display: flex;
    justify-content: center;

    @media (min-width: $breakpoint-tablet) {
      justify-content: flex-end;
    }

    svg {
      transition: color 0.2s ease;
    }

    &-link {
      box-sizing: content-box;
      display: block;
      height: 16px;
      padding: 6px;

      &:hover,
      &:focus {
        svg {
          color: $color-accent;
        }
      }
    }

    &-item {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 5px;
      }
    }

    svg {
      color: $color-text;
      display: block;
      height: 100%;
      max-width: 20px;
      width: auto;
    }
  }
}
