[is='flynt-block-video-oembed'] {
  @import 'Partials/video';

  &.flyntComponent--sizeSmall {
    .video {
      max-width: 375px;
    }
  }

  &.flyntComponent--sizeMedium {
    .video {
      max-width: $content-max-width;
    }
  }

  &.flyntComponent--sizeLarge {
    .video {
      max-width: 800px;
    }
  }

  &.flyntComponent--sizeFull {
    .figure-caption {
      margin-left: 0.625rem;
    }
  }

  h1,
  .h1 {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.175;
    margin-bottom: 1.5rem;
    padding-top: 0;

    @media (min-width: $breakpoint-mobile-horizontal) {
      font-size: 2.75rem;
      padding-top: 2rem;
    }
  }
}
