[is='flynt-slider-embeds-centered'] {
  .slider {
    max-width: 800px;
    position: relative;

    &-item {
      height: 0;
      overflow: hidden;
      padding-bottom: (2/3) * 100%;
      position: relative;
    }

    &-button {
      align-items: center;
      background-color: rgba($color-background-dark, 0.5);
      border-radius: 50%;
      cursor: pointer;
      display: none;
      height: 40px;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.2s ease-out, background-color 0.2s ease-out;
      width: 40px;
      z-index: 10;

      &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      .feather {
        color: $color-background;
        height: auto;
        top: 0;
        width: 80%;
      }

      &--prev {
        left: 10px;

        @media (min-width: $breakpoint-desktop) {
          left: 40px;
        }
      }

      &--next {
        right: 10px;

        @media (min-width: $breakpoint-desktop) {
          right: 40px;
        }
      }

      @media (min-width: $breakpoint-tablet) {
        display: flex;

        &:hover,
        &:focus {
          background-color: $color-accent;
        }
      }
    }

    &-pagination {
      margin-top: 1.5rem;
      text-align: center;

      @media (min-width: $breakpoint-desktop) {
        margin-top: 3rem;
      }

      .swiper-pagination-bullet {
        background-color: rgba($color-contrast, 0.2);
        height: 6px;
        opacity: 1;
        transition: width 0.2s $ease-out-cubic, background-color 0.3s ease;
        width: 6px;

        &-active {
          background-color: $color-contrast;
          border-radius: 4px;
          width: 20px;
        }

        &:hover,
        &:focus {
          background-color: $color-contrast;
        }
      }
    }
  }

  &.themeDark,
  &.themeHero {
    .swiper-pagination-bullet {
      background-color: rgba($color-background, 0.2);

      &-active,
      &:hover,
      &:focus {
        background-color: $color-background;
      }
    }
  }

  .matterport-showcase iframe {
    margin: 16px 0;
    min-height: 240px;
    width: 100%; 
  }
  
  @media screen and (min-width: 768px) {
    .matterport-showcase iframe {
      min-height: 360px; 
    }
  }
  
  @media screen and (min-width: 992px) {
    .matterport-showcase iframe {
      height: 600px;
      margin: 0 auto 15px;
      max-width: 1068px;
    }
  }
  
  .matterport-showcase {
    text-align: center;
  }
}
