<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-block-custom-html">
  <div class="container centerMaxWidthContainer">
    <div class="content content--{{ textAlignment }} centerContentMaxWidth">
      {{ contentHtml }}
    </div>
  </div>
</div>
