{% if cookieNoticeIsEnabled %}
<div is="flynt-block-cookie-notice" class="flyntComponent boxShadow {{ layout }} {{ theme ?: 'themeReset' }}" role="dialog">
  <div class="container centerMaxWidthContainer">
    <div class="content">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
    <div class="w-button">
      <a href="#" role="button" class="w-button-skew-button" aria-label="Close" data-close><span class="skew-text">{{ closeButtonLabel|e }}</span></a>
    </div>
  </div>
</div>
{% endif %}
