@import 'mixins';

[is='flynt-hero-image-cta'] {
  @include align-image('mobile');
  align-items: center;
  display: flex;
  justify-content: center;

  &:not(.fullWidth) .container {
    @include center(100%, $padding: 0);
    position: relative;
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      @include center($container-max-width, $padding: 0);
    }

    .content-picture {
      left: $container-padding-mobile;
      right: $container-padding-mobile;

      @media (min-width: $breakpoint-tablet) {
        left: $container-padding-tablet;
        right: $container-padding-tablet;
      }

      @media (min-width: $breakpoint-desktop) {
        left: $container-padding-desktop;
        right: $container-padding-desktop;
      }
    }
  }

  &,
  .content,
  .content-wrapper {
    min-height: 550px;
  }

  @media (min-width: $breakpoint-tablet) {
    &,
    .content,
    .content-wrapper {
      min-height: 550px;
    }
  }

  .content {
    //align-content: center;
    display: flex;
    flex-direction: row;
    //justify-content: center;
    left: 60%;
    padding: $component-spacing-mobile $container-padding-mobile;
    position: relative;
    width: 100%;

    @media (min-width: $breakpoint-desktop) {
      padding: 50px 0;
    }
    
    @media (max-width: 1280px) {
      left: 0;
    }

    &-wrapper {
      //align-content: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      //justify-content: center;
      //justify-items: center;
      max-width: $content-max-width;
      width: 100%;
    }

    &-html {
      @include reset-content-margins;
      position: relative;
      //text-align: center;
      width: 100%;

      &:not([class*='theme']) {
        color: #fff;

        #{$heading-selectors} {
          color: inherit;
        }
      }
    }

    &-picture {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &-background {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      &::before {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    &-pictureEl {
      height: 100%;
      width: 100%;
    }

    &-image {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    @include align-image('desktop');
  }

  @media (max-width: $content-max-width + 29px) {
    br {
      content: '\00a0';
    }
  }
}
